---
import ProjectsIcon from "./icons/ProjectsIcon.astro"
import SocialButton from "./SocialButton.astro"
import PreviewIcon from "./icons/PreviewIcon.astro"
import GitHubIcon from "./icons/GitHubIcon.astro"
import JavaScriptIcon from "./icons/JavaScriptIcon.astro"
import PHPIcon from "./icons/PHPIcon.astro"
import HTMLIcon from "./icons/HTMLIcon.astro"
import CSSIcon from "./icons/CSSIcon.astro"
import CSharpIcon from "./icons/CSharpIcon.astro"
import UnityIcon from "./icons/UnityIcon.astro"
import AsepriteIcon from "./icons/AsepriteIcon.astro"
import TailwindIcon from "./icons/TailwindIcon.astro"
import ReactIcon from "./icons/ReactIcon.astro"
import ViteIcon from "./icons/ViteIcon.astro"
import AstroIcon from "./icons/AstroIcon.astro"
import MySQLIcon from "./icons/MySQLIcon.astro"
import WebGLIcon from "./icons/WebGLIcon.astro"
import ThreejsIcon from "./icons/ThreejsIcon.astro"
import RolIcon from "./icons/RolIcon.astro"

const TAGS = {
    JAVACRIPT: {
        name: "JavaScript",
        class: "bg-black text-white dark:bg-[#fff56e] dark:text-black",
        icon: JavaScriptIcon,
    },
    PHP: {
        name: "PHP",
        class: "bg-[#787cb4] text-white",
        icon: PHPIcon,
    },
    HTML: {
        name: "HTML5",
        class: "bg-[#ca370c] text-white dark:bg-[#ef7f34] dark:text-black",
        icon: HTMLIcon,
    },
    CSS: {
        name: "CSS",
        class: "bg-[#0f2267] text-white dark:bg-[#7a96ff] dark:text-black",
        icon: CSSIcon,
    },
    CSHARP: {
        name: "C#",
        class: "bg-[#623ba1] text-white",
        icon: CSharpIcon,
    },
    UNITY: {
        name: "Unity",
        class: "bg-[#222c37] text-white",
        icon: UnityIcon,
    },
    ASEPRITE: {
        name: "Aseprite",
        class: "bg-[#583e46] text-white",
        icon: AsepriteIcon,
    },
    WEBGL: {
        name: "WebGL",
        class: "bg-[#931821] text-white",
        icon: WebGLIcon,
    },
    THREEJS: {
        name: "Three.js",
        class: "bg-black text-white",
        icon: ThreejsIcon,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#003159] text-white",
        icon: TailwindIcon,
    },
    REACT: {
        name: "React",
        class: "bg-[#087EA4] text-white",
        icon: ReactIcon,
    },
    VITE: {
        name: "Vite",
        class: "bg-[#2d2348] text-white",
        icon: ViteIcon,
    },
    ASTRO: {
        name: "Astro",
        class: "bg-[#0e0e0e] text-white",
        icon: AstroIcon,
    },
    MYSQL: {
        name: "MySQL",
        class: "bg-[#00718b] text-white",
        icon: MySQLIcon,
    },
}

const PROJECTS = [
    {
        title: "Aprendefacil",
        description: "Piloto de una plataforma web para el Colegio de Educación Especial San Rafael, destinada a ayudar alumnos con diversidad funcional a ganar independencia mediante agendas visuales, tareas adaptadas y comunicación directa con los educadores.",
        info: "⭐ Piloto de una licitación que acabámos ganando",
        code: "https://github.com/emanuelghdev/aprendefacil",
        image: "src/assets/Projects/Aprendefacil.png",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.PHP, TAGS.JAVACRIPT, TAGS.MYSQL],
        rol: "Auditor de Accesibilidad / Backend Developer",
        direction: "md:flex-row",
    },
    {
        title: "Una Habitación Propia",
        description: "Juego pixel art 2D de gestión emocional y granjas enfocado en la mejora de los problemas producidos por la ansiedad y el estrés. Cuenta con árbol de diálogos, sistema de progreso, NPCs con arcos narrativos, misiones secundarias y algunas sorpresas.",
        info: "🎯 Trabajo final de carrera calificado con la máxima nota",
        code: "https://github.com/emanuelghdev/una-habitacion-propia",
        link: "https://emanuelgh.itch.io/una-habitacion-propia",
        image: "src/assets/Projects/Una_habitacion_propia.png",
        tags: [TAGS.UNITY, TAGS.CSHARP, TAGS.ASEPRITE],
        rol: "Solo Developer",
        direction: "md:flex-row-reverse",
    },
    {
        title: "Palestine Support Badges",
        description: "Herramienta web para crear badges de apoyo a Palestina personalizables, con diferentes estilos, colores, textos e iconos. Permite exportar los badges en formatos como URL, Markdown, HTML o PNG listos para usar.",
        info: "🍉 Proyecto perteneciente a la iniciativa Tech4Palestine",
        code: "https://github.com/emanuelghdev/palestine-support-badges",
        link: "https://emanuelghdev.github.io/palestine-support-badges/",
        image: "src/assets/Projects/Palestine_badges.png",
        tags: [TAGS.JAVACRIPT, TAGS.REACT, TAGS.TAILWIND],
        rol: "Teach Lead",
        direction: "md:flex-row",
    },
    {
        title: "The Dim Room",
        description: "Escape Room interactivo que transcurre en una pequeña habitación 3D hecha desde cero. El usuario puede explorar la escena llena de detalles, interactuar con los objetos e intentar descubrir todas las pistas necesarias para salir de la habitación.",
        info: "💡 Escena con +25 objetos distintos modelados",
        code: "https://github.com/emanuelghdev/the-dim-room",
        link: "https://emanuelghdev.github.io/the-dim-room/",
        image: "src/assets/Projects/The_dim_room.png",
        tags: [TAGS.JAVACRIPT, TAGS.THREEJS, TAGS.WEBGL],
        rol: "Solo Developer",
        direction: "md:flex-row-reverse",
    },
    {
        title: "Refrandle",
        description: "Juego online de adivinar refranes y dichos populares en español. Incluye estadísticas detalladas, historial de partidas y hasta cuatro modos de juego distintos para mejorar la experiencia del usuario y ajustar la dificultad del reto.",
        info: "📈 Web app con +20.000 partidas jugadas",
        code: "https://github.com/emanuelghdev/refrandle",
        link: "https://refrandle.es/",
        image: "src/assets/Projects/Refrandle.png",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.PHP, TAGS.JAVACRIPT, TAGS.MYSQL],
        rol: "Solo Developer",
        direction: "md:flex-row",
    },
]
---

<div class="pt-6 pb-4 lg:pt-10 lg:pb-8">
    <h2 class="flex items-center justify-center gap-x-4 text-3xl lg:text-5xl font-bold text-gray-900 dark:text-white mb-4 md:mb-6">
        <ProjectsIcon class="size-16 lg:size-20" />Featured Projects
    </h2>
</div>

<div class="flex flex-col gap-y-16 md:gap-y-20">
    {PROJECTS.map(({ direction, info, image, title, description, tags, link, code, rol }) => (
        <article role="button" tabindex="0" aria-haspopup="dialog" class={`flex flex-col gap-4 space-x-0 space-y-8 group ${direction} md:space-x-8 md:space-y-0 md:hover:-translate-y-4 transition duration-500 ease-in-out js-project`}>
            <div class="w-full md:w-1/2 m-0">
                <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-lg overflow-clip rounded-xl sm:rounded-xl md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                    <span class="absolute bottom-3 left-3 opacity-0 group-hover:opacity-100 translate-y-4 group-hover:translate-y-0 transition-all duration-500 delay-100 rounded-full backdrop-blur-sm">
                        <span class="px-2 py-1 bg-black/50  border border-white/20 text-white text-sm font-medium rounded-full">
                            {info}
                        </span>
                    </span>
                    
                    <span class="absolute bottom-9 left-3 opacity-0 group-hover:opacity-100 translate-y-2 group-hover:translate-y-0 transition-all duration-500 delay-200 rounded-full backdrop-blur-sm">
                        <span
                            class="inline-flex items-center gap-2 px-2 py-1 rounded-full text-xs font-semibold uppercase tracking-wider bg-gradient-to-r from-indigo-100 via-indigo-50 to-white text-indigo-800 dark:from-indigo-900 dark:via-indigo-800 dark:to-indigo-700 dark:text-indigo-100 ring-1 ring-indigo-200 dark:ring-indigo-700 max-w-fit"
                            aria-label="Rol: Auditor de Accesibilidad / Backend Developer"
                            title="Rol: Auditor de Accesibilidad / Backend Developer"
                        >
                            <RolIcon class="size-5" />{rol}
                        </span>
                    </span>

                    <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top-left w-full h-full transition duration-500" loading="lazy" src={image} />
                </div>
            </div>

            <div class="w-full md:w-1/2 md:max-w-lg">
                <h3 class="text-3xl font-bold text-gray-800 dark:text-gray-100">{title}</h3>
                <div class="flex flex-wrap mt-2">
                    <ul class="flex flex-wrap mb-2 gap-2">
                        {tags.map((tag) => (
                            <li>
                                <span class={`flex gap-x-2 rounded-lg text-xs ${tag.class} py-[6px] px-2 `}>
                                    <tag.icon class="size-4" />
                                    {tag.name}
                                </span>
                            </li>
                        ))}
                    </ul>

                    <div class="mt-2 text-gray-700 text-pretty dark:text-gray-400">{description}</div>
                    <footer class="flex items-end justify-start mt-4 gap-x-4">
                        {code && (
                            <SocialButton href={code}><GitHubIcon class="size-6" />Code</SocialButton>
                        )}
                        {link && (
                            <SocialButton href={link}><PreviewIcon class="size-6" />Preview</SocialButton>
                        )}
                    </footer>
                </div>
            </div>
        </article>
    ))}
</div>