---
import ProjectsIcon from "./icons/ProjectsIcon.astro"
import SocialButton from "./SocialButton.astro"
import PreviewIcon from "./icons/PreviewIcon.astro"
import GitHubIcon from "./icons/GitHubIcon.astro"
import JavaScriptIcon from "./icons/JavaScriptIcon.astro"
import PHPIcon from "./icons/PHPIcon.astro"
import HTMLIcon from "./icons/HTMLIcon.astro"
import CSSIcon from "./icons/CSSIcon.astro"
import CSharpIcon from "./icons/CSharpIcon.astro"
import UnityIcon from "./icons/UnityIcon.astro"
import AsepriteIcon from "./icons/AsepriteIcon.astro"
import TailwindIcon from "./icons/TailwindIcon.astro"
import ReactIcon from "./icons/ReactIcon.astro"
import ViteIcon from "./icons/ViteIcon.astro"
import AstroIcon from "./icons/AstroIcon.astro"
import MySQLIcon from "./icons/MySQLIcon.astro"
import WebGLIcon from "./icons/WebGLIcon.astro"
import ThreejsIcon from "./icons/ThreejsIcon.astro"
import RolIcon from "./icons/RolIcon.astro"
import { getTranslations } from '../utils/i18n'

const t = getTranslations()

const TAGS = {
    JAVACRIPT: {
        name: "JavaScript",
        class: "bg-black text-white",
        icon: JavaScriptIcon,
    },
    PHP: {
        name: "PHP",
        class: "bg-[#787cb4] text-white",
        icon: PHPIcon,
    },
    HTML: {
        name: "HTML5",
        class: "bg-[#ca370c] text-white",
        icon: HTMLIcon,
    },
    CSS: {
        name: "CSS",
        class: "bg-[#0f2267] text-white",
        icon: CSSIcon,
    },
    CSHARP: {
        name: "C#",
        class: "bg-[#623ba1] text-white",
        icon: CSharpIcon,
    },
    UNITY: {
        name: "Unity",
        class: "bg-[#222c37] text-white",
        icon: UnityIcon,
    },
    ASEPRITE: {
        name: "Aseprite",
        class: "bg-[#583e46] text-white",
        icon: AsepriteIcon,
    },
    WEBGL: {
        name: "WebGL",
        class: "bg-[#931821] text-white",
        icon: WebGLIcon,
    },
    THREEJS: {
        name: "Three.js",
        class: "bg-black text-white",
        icon: ThreejsIcon,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#003159] text-white",
        icon: TailwindIcon,
    },
    REACT: {
        name: "React",
        class: "bg-[#087EA4] text-white",
        icon: ReactIcon,
    },
    VITE: {
        name: "Vite",
        class: "bg-[#2d2348] text-white",
        icon: ViteIcon,
    },
    ASTRO: {
        name: "Astro",
        class: "bg-[#0e0e0e] text-white",
        icon: AstroIcon,
    },
    MYSQL: {
        name: "MySQL",
        class: "bg-[#00718b] text-white",
        icon: MySQLIcon,
    },
}

const PROJECTS = [
    {
        title: "Aprendefacil",
        name: "aprendefacil",
        code: "https://github.com/emanuelghdev/aprendefacil",
        image: "src/assets/Projects/Aprendefacil.png",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.PHP, TAGS.JAVACRIPT, TAGS.MYSQL],
        direction: "lg:flex-row",
        fondo: "card-modern card-blue",
    },
    {
        title: "Una Habitación Propia",
        name: "habitacionpropia",
        code: "https://github.com/emanuelghdev/una-habitacion-propia",
        link: "https://emanuelgh.itch.io/una-habitacion-propia",
        image: "src/assets/Projects/Una_habitacion_propia.png",
        tags: [TAGS.UNITY, TAGS.CSHARP, TAGS.ASEPRITE],
        direction: "lg:flex-row-reverse",
        fondo: "card-modern card-purple",
    },
    {
        title: "Palestine Support Badges",
        name: "palestinebadges",
        code: "https://github.com/emanuelghdev/palestine-support-badges",
        link: "https://emanuelghdev.github.io/palestine-support-badges/",
        image: "src/assets/Projects/Palestine_badges.png",
        tags: [TAGS.JAVACRIPT, TAGS.REACT, TAGS.TAILWIND],
        direction: "lg:flex-row",
        fondo: "card-modern card-blue",
    },
    {
        title: "The Dim Room",
        name: "dimroom",
        code: "https://github.com/emanuelghdev/the-dim-room",
        link: "https://emanuelghdev.github.io/the-dim-room/",
        image: "src/assets/Projects/The_dim_room.png",
        tags: [TAGS.JAVACRIPT, TAGS.THREEJS, TAGS.WEBGL],
        direction: "lg:flex-row-reverse",
        fondo: "card-modern card-purple",
    },
    {
        title: "Refrandle",
        name: "refrandle",
        code: "https://github.com/emanuelghdev/refrandle",
        link: "https://refrandle.es/",
        image: "src/assets/Projects/Refrandle.png",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.PHP, TAGS.JAVACRIPT, TAGS.MYSQL],
        direction: "lg:flex-row",
        fondo: "card-modern card-blue",
    },
]
---

<!-- Header -->
<header class="pt-6 pb-4 lg:pt-10 lg:pb-8">
    <h2 class="flex items-center justify-center gap-x-4 text-3xl lg:text-5xl font-bold text-gray-900 dark:text-white mb-4 md:mb-6">
        <ProjectsIcon class="size-16 lg:size-20" /><span data-i18n="projects.title">{t.projects.title}</span>
    </h2>
</header>

<!-- Proyectos -->
<div class="flex flex-col gap-y-16 md:gap-y-14">
    {PROJECTS.map(({ direction, fondo, image, title, name, tags, link, code }) => (
        <article class={`flex flex-col gap-4 justify-center space-x-0 space-y-8 group ${direction} md:space-x-8 md:space-y-0 md:hover:-translate-y-4 hover:shadow-md transition duration-300 ease-in-out p-5 ${fondo}`}>
            <div class="w-full lg:w-1/2 m-0">

                {/* Imagen del proyecto */}
                <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-lg overflow-clip rounded-xl sm:rounded-xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">

                    {/* Popup información adicional */}
                    <span class="absolute bottom-3 left-3 opacity-0 sm:opacity-100 lg:opacity-0 lg:group-hover:opacity-100 lg:translate-y-4 lg:group-hover:translate-y-0 transition-all duration-300 delay-100 rounded-full backdrop-blur-sm z-10">
                        <span class="px-2 py-1 bg-black/60 border border-white/20 text-white text-sm sm:text-base lg:text-sm font-medium rounded-full" aria-label="Información adicional sobre el proyecto" data-i18n={`projectsData.${name}.info`}>
                            {`t.projectsData.${name}.info`}
                        </span>
                    </span>

                    {/* Popup rol en el proyecto */}
                    <span class="absolute bottom-9 left-3 opacity-0 sm:opacity-100 lg:opacity-0 lg:group-hover:opacity-100 lg:translate-y-2 lg:group-hover:translate-y-0 transition-all duration-300 delay-200 rounded-full backdrop-blur-sm z-10">
                        <span class="inline-flex items-center gap-2 px-2 py-1 rounded-full text-xs sm:text-sm lg:text-xs font-semibold uppercase tracking-wider bg-gradient-to-r from-indigo-100 via-indigo-50 to-white text-indigo-800  max-w-fit" aria-label="Rol en el proyecto">
                            <RolIcon class="size-5" /><span data-i18n={`projectsData.${name}.rol`}>{`t.projectsData.${name}.rol`}</span>
                        </span>
                    </span>

                    {/* Imagen */}
                    <img alt="Imagen del proyecto" class="object-cover object-top-left w-full h-full lg:group-hover:brightness-85 lg:dark:group-hover:brightness-75 transition-all duration-200" src={image} />
                </div>
            </div>

            {/* Descripción del proyecto */}
            <div class="w-full lg:w-1/2 lg:max-w-lg">
                <h3 class="text-2xl sm:text-3xl font-bold text-gray-800 dark:text-gray-100">{title}</h3>
                <div class="flex flex-wrap mt-2 sm:mt-3 lg:mt-2">
                    {/* Tecnologías utilizadas */}
                    <ul class="flex flex-wrap mb-2 gap-2">
                        {tags.map((tag) => (
                            <li>
                                <span class={`flex gap-x-2 rounded-lg text-xs sm:text-base lg:text-xs ${tag.class} py-[6px] px-2`}>
                                    <tag.icon class="size-4 sm:size-6 lg:size-4" />
                                    {tag.name}
                                </span>
                            </li>
                        ))}
                    </ul>

                    {/* Descripción */}
                    <div class="text-base sm:text-lg md:text-xl lg:text-base mt-3 lg:mt-1 text-gray-800 text-pretty dark:text-gray-200 sm:pr-4" data-i18n={`projectsData.${name}.description`}>{`t.projectsData.${name}.description`}</div>

                    {/* Botones */}
                    <footer class="flex items-end justify-start text-sm sm:text-lg lg:text-base mt-8 lg:mt-[0.9rem] gap-x-4">
                        {code && (
                            <SocialButton href={code}><GitHubIcon class="size-6" />
                                <span data-i18n="projects.code">{t.projects.code}</span>
                            </SocialButton>
                        )}
                        {link && (
                            <SocialButton href={link}><PreviewIcon class="size-6" />
                                <span data-i18n="projects.preview">{t.projects.preview}</span>
                            </SocialButton>
                        )}
                    </footer>
                </div>
            </div>
        </article>
    ))}
</div>

<!-- Script para actualizar el idioma -->
<script type="module" src="/scripts/i18n-client.js"></script>

<style>
    @reference "../styles/global.css";

    /* Estilo base de las cards */
    .card-modern {
        --from: rgba(255,255,255,0.65);
        --to: rgba(255,255,255,0.45);
        --accent: #00a3ff;

        background-image: linear-gradient(90deg, var(--from), var(--to));
        @apply rounded-2xl text-slate-800 dark:text-slate-100 transition-transform duration-200 ease-out overflow-hidden relative
        dark:hover:shadow-[0_4px_6px_-1px_rgba(255,255,255,0.7),_0_2px_4px_-2px_rgba(255,255,255,0.6)];

        border: 1px solid rgba(15,23,42,0.05);
    }

    /* Franja superior delgada de las cards */
    .card-modern::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 4px;
        width: 40%;
        background: linear-gradient(90deg, var(--accent), color-mix(in srgb, var(--accent), black 10%));
        border-bottom-right-radius: 8px;
        opacity: 0.95;
    }

    /* Card azul */
    .card-blue {
        --from: rgba(236,254,255,0.75);
        --to: rgba(224,242,254,0.55);
        
    }

    .card-blue:hover {
        @apply  border border-blue-200 dark:border-cyan-800;
    }

    :global(.dark) .card-blue {
        --from: rgba(2,6,23,0.55);
        --to: rgba(3,105,161,0.12);
        --accent: #0891B2;
    }

    /* Card morado */
    .card-purple {
        --from: rgba(245,237,255,0.75);
        --to: rgba(237,223,255,0.55);
        --accent: #945dd6;
    }

    .card-purple:hover {
        @apply border border-purple-200 dark:border-violet-500;
    }

    :global(.dark) .card-purple {
        --from: rgba(2,6,23,0.55);
        --to: rgba(139,92,246,0.15);
        --accent: #9d6ae6;
    }

    .card-purple::before {
        left: auto;
        right: 0;
        border-bottom-left-radius: 8px;
    }
</style>